<li class="flex border border-blue-900 rounded-xl h-60">
    <img [src]="book.image" [alt]="book.name" width="100px" class="m-auto rounded-sm"/>
    <div class="m-auto">
      <p class="text-xl">
        {{ book.name }} by {{ book.author }}
      </p>
      <p class="my-4 text-m">
        {{ book.amt | currency : "INR" }}
      </p>
      <button *ngIf="!isInCart" (click)="addToCart()" class="bg-yellow-400 rounded p-3">
        Add to Cart
      </button>
      <button *ngIf="isInCart" (click)="removeFromCart()" class="bg-yellow-400 rounded p-3">
        Remove from Cart
      </button>
    </div>
</li>